@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html.no-scroll {
  overflow-y: hidden;
}

html,
body {
  font-size: 20px;
  color: #1E1E1E;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}
html a,
body a {
  text-decoration: none;
  color: #1E1E1E;
}
html li,
body li {
  list-style: none;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1000px) {
  ._container {
    max-width: 100%;
    padding: 0px 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.firts {
  background: #FEF5A9;
}

.second {
  left: 16.6%;
  background: #FEF5A9;
}

.third {
  left: 33.2%;
  background: #FEF5A9;
}

.four {
  left: 49.8%;
  background: #FEF5A9;
}

.five {
  left: 66.6%;
  background: #FEF5A9;
}

.six {
  left: 83.2%;
  background: #FEF5A9;
}

.qr-wrapper {
  position: fixed;
  width: 30%;
  height: 60%;
  z-index: 9;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.qr-wrapper.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
      -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
          transform: translateX(-50%) translateY(-50%) scale(0.8);
}
@media (max-width: 1000px) {
  .qr-wrapper {
    width: 80%;
    height: 30%;
  }
}

.qr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../source/qr.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.qr-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 2vw;
  top: 2vw;
  background: url(../source/qr.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 11;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.qr-btn.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
@media (max-width: 1000px) {
  .qr-btn {
    width: 40px;
    height: 40px;
  }
}

.home {
  background: #607F9E;
}
.home__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__logo {
  width: 80vh;
  height: 100vh;
  background: url(../source/logo.svg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1000px) {
  .home__logo {
    width: 50vh;
    height: 80vh;
  }
}

.video {
  background: #D9D9D9;
}
.video__body {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}
@media (max-width: 1000px) {
  .video__body {
    height: 600px;
  }
}
.video__pause {
  width: 80px;
  height: 80px;
  background: url(../source/pause.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.video__pause.hidden {
  opacity: 0;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1000px) {
  .video__pause {
    width: 40px;
    height: 40px;
  }
}
.video__sound-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 370px;
  bottom: 30px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.video__sound-btn.paused {
  opacity: 0.3;
}
@media (max-width: 1000px) {
  .video__sound-btn {
    right: 30px;
  }
}
.video .video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.gallery {
  background: #607F9E;
}
.gallery__container {
  overflow: visible;
  position: relative;
}
.gallery__item-wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
}
.gallery__item {
  width: 404px;
  height: 456px;
  border-radius: 20px;
  background: #79A1CF;
}
.gallery__item:nth-child(1) {
  background: url(../source/1.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__item:nth-child(2) {
  background: url(../source/2.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__item:nth-child(3) {
  background: url(../source/3.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__item:nth-child(4) {
  background: url(../source/4.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__item:nth-child(5) {
  background: url(../source/5.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .swiper-button-next,
.gallery .swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: white !important;
  fill: white !important;
  stroke: white !important;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.gallery .swiper-button-next {
  right: -100px;
}
.gallery .swiper-button-prev {
  left: -100px;
}

.content {
  background: #607F9E;
}
.content__body {
  padding-bottom: 140px;
}
@media (max-width: 1000px) {
  .content__body {
    padding-bottom: 60px;
  }
}
.content__img {
  width: 100%;
  height: 405px;
  background: #D9D9D9;
  border-radius: 20px;
  margin-bottom: 40px;
}
.content__img:nth-child(1) {
  background: url(../source/6.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__img:nth-child(2) {
  background: url(../source/7.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__text {
  margin-top: 110px;
  font-size: 48px;
  font-style: normal;
  font-weight: 5;
  line-height: normal;
  color: white;
}
@media (max-width: 1000px) {
  .content__text {
    font-size: 28px;
    margin-top: 40px;
  }
}

.footer__body {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
}
@media (max-width: 1000px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .footer__block:nth-child(1) {
    margin-bottom: 40px;
  }
}
.footer__logo {
  width: 126.575px;
  height: 130.64px;
  background: url(../source/f-logo.svg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.footer__heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  line-height: 100%; /* 18px */
  letter-spacing: -0.54px;
  margin-bottom: 40px;
}
.footer__block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__info {
  margin-right: 60px;
}
.footer__info-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.54px;
  margin-bottom: 20px;
}
.footer__info-text:last-child {
  margin-bottom: 0;
}
.footer__social-heading {
  font-size: 14.503px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.435px;
  margin-bottom: 32px;
}
.footer__social-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-item {
  width: 38.664px;
  height: 38.675px;
  margin-right: 16px;
}
.footer__social-item:nth-child(1) {
  background: url(../source/whatsapp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__social-item:nth-child(2) {
  background: url(../source/telegram.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__social-item:nth-child(3) {
  background: url(../source/yt.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__social-item:nth-child(4) {
  background: url(../source/insta.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
}
.footer__store-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 97px;
  margin-top: 20px;
}
.footer__store {
  width: 162px;
  height: 48px;
}
.footer__store:nth-child(1) {
  background: url(../source/appstore.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
}
.footer__store:nth-child(2) {
  background: url(../source/googleplay.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__pay-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.54px;
  margin-bottom: 40px;
}
.footer__pay-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__pay-item {
  width: 100px;
  height: 64px;
  margin-right: 10px;
  cursor: pointer;
}
.footer__pay-item:nth-child(1) {
  background: url(../source/mir.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__pay-item:nth-child(2) {
  background: url(../source/tinkoff.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__pay-item:nth-child(3) {
  background: url(../source/yandex.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
}
.footer__copyright {
  width: 211px;
  height: 30px;
  background: url(../source/copyright.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -60px;
  left: 0;
}