.gallery {
    background: $primary-color;
    &__container {
    }

    &__body {
    }

    &__item-wrapper {
        margin-top: 55px;
        margin-bottom: 55px;
    }

    &__item {
        width: 404px;
        height: 456px;
        border-radius: 20px;
        background: $terial-color
    }
}