.home {
    background: $primary-color;
    &__container {
    }

    &__body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        width: 80vh;
        height: 100vh;
        background: url(../source/logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}