.home {
    background: $primary-color;
    &__container {
    }

    &__body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        width: 80vh;
        height: 100vh;
        background: url(../source/logo.svg) center center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: $m-point) {
            width: 50vh;
            height: 80vh;
        }
    }
}