.video {
    background: $text-secondary;

    &__body {
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        @media (max-width: $m-point) {
            height: 600px;
        }
    }

    &__pause {
        width: 80px;
        height: 80px;
        background: url(../source/pause.svg);
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
        opacity: 1;
        transform: scale(1.0);
        transition: .3s ease;
        &.hidden {
            opacity: 0;
            transform: scale(1.1);
        }
        @media (max-width: $m-point) {
            width: 40px;
            height: 40px;
        }
    }

    &__sound-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 370px;
        bottom: 30px;
        z-index: 1;
        cursor: pointer;
        transition: .3s ease;
        &.paused {
            opacity: .3;
        }
        @media (max-width: $m-point) {
            right: 30px;
        }
    }

    .video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        cursor: pointer;
    }
}