@import '_reset';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html.no-scroll {
	overflow-y: hidden;
}

html,
body {
	font-size: 20px; 
	color: $text-color;
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 0;
	}
	a {
		text-decoration: none;
		color: $text-color;
	}
	li {
		list-style: none;
	}
}

// General Container
._container {
	max-width: 1400px;
	margin: 0 auto;
	overflow: hidden;
	@media (max-width: $m-point) {
		max-width: 100%;
		padding: 0px 20px;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.firts {
	background: $primary-color-02;
}

.second {
	left: 16.6%;
	background: $primary-color-02;
}

.third {
	left: 33.2%;
	background: $primary-color-02;
}

.four {
	left: 49.8%;
	background: $primary-color-02;
}

.five {
	left: 66.6%;
	background: $primary-color-02;
}

.six {
	left: 83.2%;
	background: $primary-color-02;
}

.qr-wrapper {
	position: fixed;
	width: 30%;
	height: 60%;
	z-index: 9;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: .3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&.hidden {
		visibility: hidden;
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) scale(.8);
	}
	@media (max-width: $m-point) {
		width: 80%;
		height: 30%;
	}
}
.qr {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../source/qr.png) center center;
	background-repeat: no-repeat;
	background-size: contain
}

.qr-btn {
	position: fixed;
	width: 50px;
	height: 50px;
	right: 2vw;
	top: 2vw;
	background: url(../source/qr.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 11;
	border-radius: 2px;
	cursor: pointer;
	transition: .3s ease;
	&.hidden {
		visibility: hidden;
		opacity: 0;
		transform: scale(.8);
	}
	@media (max-width: $m-point) {
		width: 40px;
		height: 40px;
	}
}


@import '_home';
@import '_video';
@import '_gallery';
@import '_content';
@import '_footer';